<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} &larr; {{ page.top }}</title>
   <meta name="author" content="{{ site.author.name }}" />
   <link rel="start" href="{{ HOME_PATH }}" />
  
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
	
	{% if site.author.feedburner %}
  	<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/{{ site.author.feedburner }}" title="RSS feed" />
	{% endif %}
	{% if page.feed %}
  	<link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
	{% endif %}

   <!-- Custom JS-->
   <script type="text/javascript" src="/assets/custom/js/jquery.js"></script>
   <script type="text/javascript" src="/assets/custom/js/jquery-ui.js"></script>
   <script type="text/javascript" src="/assets/custom/js/custom.js"></script>
  
   <!-- Custom CSS-->
   <link rel="stylesheet" href="/assets/custom/css/screen.css" type="text/css" />
   <link rel="stylesheet" href="/assets/custom/css/jquery-ui.css" type="text/css" />
   <link rel="stylesheet" href="/assets/custom/css/pygments.css" type="text/css" />

</head>
<body id="{{ page.section }}">
  <header id="header">
      <img id="avater" src="/assets/custom/photos/head6.png"/> 
      <hgroup>
        <br/>
        <br/>
        <h1 id="logo"><a href="{{ HOME_PATH }}" title="{{ site.title }}">&nbsp;{{ site.title }}</a></h1>
        <h2 id="sublogo">&nbsp;{{ site.description }}</h2>
      </hgroup>
  </header>


  <div id="wrap">

  <nav id="menu">
    <ul id="menu-header">
      <li id="menu-item-index" ><a  href="{{ HOME_PATH }}">首页</a></li>
      <li id="menu-item-tech" ><a  href="/tech.html">技术贴</a></li>
      <li id="menu-item-travel" ><a  href="/travel.html">走走停停</a></li>
      <li id="menu-item-life" ><a  href="/life.html">生活志</a></li>
      <li id="menu-item-about" ><a  href="/about.html">关于我</a></li>
    </ul>
  </nav>

    <div id="toolbar">
        <div id="rss"><a href="http://feed.feedsky.com/zhangjunhd" title="RSS Feed">RSS</a></div>
        <script src="http://s25.cnzz.com/stat.php?id=5060964&web_id=5060964&show=pic" language="JavaScript"></script>
        <div id="searchFrom">
            <form method="get" action="http://www.google.com/search" target="google_window">
		    <label class="hidden" for="s">Search...</label>
		    <div>	
		        <input type="text" value="Search..." name="q" onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}">
                <button type="submit" >Search</button>
			</div>
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="hidden" name="oe" value="UTF-8" />
			<input type="hidden" name="hl" value="zh-CN" />
			<input type="hidden" name="domains" value="http://zhangjunhd.github.com" />
			<input type="hidden" name="sitesearch" value="http://zhangjunhd.github.com" />
			</form>
        </div>
    </div>
 

  {{ content }}
  
  
</div>

  <footer id="footer">
    <address>
      <span class="copyright">
        Design by <a href="/about.html">{{ site.author.name }}</a>.
        Tags <a href="/tags.html">标签</a>.
        Archive <a href="/archive.html">归档</a>.
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">知识共享署名-非商业性使用-禁止演绎 3.0 未本地化版本许可协议</a>进行许可。      
      </span>
      <span class="engine">
        Powered by <a href="http://github.com/mojombo/jekyll/" title="A static, minimalist CMS">Jekyll</a>
      </span>
    </address>
  </footer>


  {% include JB/analytics %}
</body>
</html>
