<footer>
  <div class="container">
    <div class="row">
      <div class="span7">
        <p><h4 class="footer-title">子孑</h4>
         What is a Career in Big Data?</p>
        <p>&copy; Copyright 2013  <a herf='mailto:zhangjunhd@gmail.com'>Zhang Jun</a>. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">
                  署名-非商业性使用-相同方式共享</a> 
        </p>
            
             
        <hr/>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("5b445d980d182f2bb1d99408502dd1ca");
mixpanel.track("Video play");
</script><!-- end Mixpanel -->


        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics"></a>

        <a rel="license nofollow" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/cn/88x31.png" /></a>

        <!-- Site Meter -->
        <script type="text/javascript" src="http://s51.sitemeter.com/js/counter.js?site=s51thinkinside" async="true">
        </script>
        <noscript>
        <a href="http://s51.sitemeter.com/stats.asp?site=s51thinkinside" target="_top">
        <img src="http://s51.sitemeter.com/meter.asp?site=s51thinkinside" alt="Site Meter" border="0"/></a>
        </noscript>
      </div> <!-- /span8 -->

      <div class="span5">
        <div class="footer-banner">
          <h3 class="footer-title">关于我</h3>
<ul>
  <li><a href="http://www.linkedin.com/pub/zhang-jun/32/366/6b1" target="_blank">@LinkedIn</a>(zhang jun)</li>
  <li><a href="http://book.douban.com/people/zhangjunhd/" target="_blank">@豆瓣</a>(子孑)</li>
  <li><a href="http://weibo.com/zhangjunhd" target="_blank">@weibo</a>(张俊)</li>
</ul>
          
          
        </div>
      </div>
    </div>
  </div>
</footer>