<div class="todo-search">
	<input id="searchkey" class="span10 todo-search-field" type="search" value="" placeholder="搜索...">
</div>
<div class="row-fluid btn-group" style="background-color: rgb(44, 62, 80);padding: 3px 0 3px 0;">
	{% for item in site.menuitems %}
        {% if item.url == page.url %}
        <a class="span4 btn btn-primary" href="#">{{item.name}}</a>
        {% else %}
        <a class="span4 btn btn-inverse active" href="{{item.url}}">{{item.name}}</a>
        {% endif %}
    {% endfor %}

    {% for category in site.categories %} 
    {% if page.categories[0] == category[0] %}
      <a class="span4 btn btn-primary" href="/pages/categories.html#{{ category[0] }}-ref"  rel="category">
        {{ category[0] | join: "/" }} <sup>{{ category[1].size }}</sup>
      </a>
    {% else %}
        <a class="span4 btn btn-inverse active" href="/pages/categories.html#{{ category[0] }}-ref" rel="category">
          {{ category[0] | join: "/" }} <sup>{{ category[1].size }}</sup>
        </a>
    {% endif %}
    {% endfor %}

</div>
<div class="row-fluid" style="background-color:#ecf0f5;letter-spacing:0px;Word-spacing:0px;">
	{% include tags_cloud %}
	<!--span class="label" style="padding: 3px;background-color: #1abc9c;">Default</span-->
</div>

<div class="row-fluid btn-group" style="background-color: rgb(44, 62, 80);padding: 3px 0 3px 0;">  
<!--revolvermaps-->
<script type="text/javascript" src="http://ji.revolvermaps.com/2/1.js?i=8ztrq969b75&amp;s=315&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>
</div>
<div class="span10">
    <!-- RSS -->
    <img src="/xml.png" />Subscribe to this weblog's:</br>
    <a href="/atom.xml">atom feed</a> or 
    <a href="/rss.xml">rss feed</a>
    <br/>
    <!-- RSS -->
</div>
