---
layout:           default
---

{% capture IMG_PATH %}/images/{{ page.date | date: "%Y" }}/{{page.path}}/{% endcapture %}

<div class="span9">
  <p class="pre-meta">{% include post_info_bar %}
{% if page.lastmod %}
  <span class="alert alert-success"><strong>
  最近更新：{{ page.lastmod | date: "%Y-%m-%d" }}
  </strong></span>
  {% endif %}
  </p>
  
  {% if page.description %}<p>摘要：<br/>{{page.description}}</p>{% endif %}
  
      <div id="menuIndex" class="row-fluid" style="background-color:#ecf0f5;"></div>
  <hr style="height:3px;border:none;border-top:3px double"/>
  <div id="content">
      {{ content }}   
  </div> 
  
  <!--  分享  -->
  <!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_xianguo">鲜果</a>
	<a class="jiathis_button_linkedin">LinkedIn</a>
	<a class="jiathis_button_evernote">EverNote</a>
	<a class="jiathis_button_pocket">Pocket</a>
	<a class="jiathis_button_instapaper">Instapaper</a>
	<a class="jiathis_button_tsina">新浪微博</a>
	<a href="http://www.jiathis.com/share?uid=1742903" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1356511007353147" charset="utf-8"></script>
<!-- JiaThis Button END -->

  <hr/>      
  <p class="pre-meta">{% include post_info_bar %}</p>

      <!--上一篇，下一篇-->
      <div class="row-fluid">
      {% if page.next %}
        <div class="span6">
          <a href="{{ page.next.url }}" rel="bookmark">&laquo;&nbsp;下一篇：{{ page.next.title | truncatewords:5 }}</a>
        </div>
      {% endif %}

      {% if page.previous %}
        <div class="span6">
        <a class="pull-right" href="{{ page.previous.url }}" rel="bookmark">上一篇：{{ page.previous.title | truncatewords:5 }}&nbsp;&raquo;</a>
        </div>
      {% endif %}
      </div>

     
     

      <!--相关文章-->
      <div class="row-fluid">
        
           <!--youjian-->
        <!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:10,showType:4,lkrc:0,bgColor:'#',mouseoverColor:'#FFFFFF',textColor:'#16A085'};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1742903"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
       
      </div><!--END of 相关文章-->
      <hr/>
      <!--  评论  -->
      <div class="row-fluid">
        
          <!-- UY BEGIN -->
          <div id="uyan_frame"></div>
          <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1742903" async="true"></script>
          <!-- UY END -->
        
      </div>

 
  </div>
       <!--style="position:fixed;right:20px;"-->
    <div class="span3">
      {% include parts/sidebar.html %}
    </div>
</div>
</div>
<script src="/assets/js/post.js"></script>
